<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>ML API</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

</head>

<body>
  <div class="'login">
    <h1>Airfoil Prediction</h1>

    <!-- Main input for receiving query to our ML -->
    <form action="{{url_for('predict')}}"method="post">
      <input type="text" name ="frequency" placeholder="frequency" required="required" /><br>
      <input type="text" name ="Angle_attack" placeholder="Angle_attack" required="required" /><br>
      <input type="text" name ="Chord_length" placeholder="Chord_length" required="required" /><br>
      <input type="text" name ="free_stream_vel" placeholder="free_stream_vel" required="required" /><br>
      <input type="text" name ="suction_side" placeholder="suction_side" required="required" /><br>


      <button type="submit" class="btn btn-primary btn-block btn-large">predict</button>
    </form>

    <br>
    <br>

  </div>
  {{prediction_text}}

</body>
</html>